@page "/"

<PageTitle>Index</PageTitle>

<MudGrid>
    <MudItem xs="12" md="6" Class="d-flex justify-center align-center" Style="height:500px;">
        <MudGrid Justify="justification">
            <MudItem xs="12" md="10">
                <MudGrid>
                    @for(int i = 0; i < 4; i++)
                    {
                        @for (int j = 0; j < 6; j++)
                        {
                            <MudItem xs="12" md="2">
                                <div @onclick="@UpdateBreaks" class="clickable-square" css="background=gray"></div>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </MudItem>
            <MudItem xs="12" md="2">
                <MudGrid>
                    <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8">
                        
                    </MudPaper>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" md="6">
        <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0">
        </MudPaper>
    </MudItem>
</MudGrid>

<style>
    .clickable-square {
        width: 100%;
        height: 100px;
        background-color: #d3d3d3; 
        cursor: pointer;
    }
</style>
